<h1>Not Listing employees</h1>

<table>
  <tr>
    <th>Employeenumber</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
