@import "bootstrap";

.pagination ul li a{
line-height: 25px
}

.container {
  padding-bottom:30px;
}
.table {width:100%; margin-left:auto; margin-right:auto}

.container .btn-primary{
color: white;
}

tr:hover {background-color:#eee}

#header { color:#ccc;
	      padding-left:5px;
	      padding-right:15px;
	      padding-top:5px;
	      padding-bottom:5px;
	      margin:0;	
	      height:20px;

  .header_right {
		         float:right;  
   }
	
  .header_left {
	             float:left;
   }

   a { 
             color: #ccc;
		     &:visited {color: #ccc; }
		     &:hover {color: #fff; ; background-color:transparent} 
   }
}

h1 {
text-align:center; 
margin-top:0; 
margin-bottom:10px;
background-color:#eeeef3;
font-size:16pt;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;

}

.outer {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
width:1000px;
margin-left:auto; 
margin-right:auto; 
background-color:white;
}

.exit_button {
  width:25px;
  height:25px;
  float:left; 
  position:relative;
  left:-10px; 
  top:-10px;
  padding:0;
  margin:0;
  a:hover { background-color:transparent }
}

